body {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 200px;
  min-height: 100%;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: #5086c6;
}

button {
  cursor: pointer;
}
button:hover {
  border: 3px solid #5086c6;
}

#controllerDiagram {
  position: relative;
  margin: 100px auto;
  width: 600px;
  height: 480px;
  background: url("http://cdn.alexbezuska.com/images/controller.svg") no-repeat;
  background-size: 95%;
}
button {
  outline: none;
}

.a,
.b,
.x,
.y {
  position: absolute;
  height: 7.4%;
  width: 6%;
  border-radius: 36px !important;
  cursor: pointer;
  color: white;
}
.a:after,
.b:after,
.x:after,
.y:after {
  background: red;
}

.y {
  background: radial-gradient(ellipse at center, #fee1a9 0%, #fec75d 100%);
  border: 2px solid #feb934;
  top: 19.75%;
  left: 72.68%;
}

.b {
  background: radial-gradient(ellipse at center, #b8da73 0%, #9aca36 100%);
  border: 2px solid #7ba22b;
  top: 29%;
  left: 80.2%;
}

.x {
  background: radial-gradient(ellipse at center, #8aaed9 0%, #5086c6 100%);
  border: 2px solid #386dab;
  top: 29%;
  left: 65.25%;
}

.a {
  background: radial-gradient(ellipse at center, #d7756c 0%, #c14135 100%);
  border: 2px solid #99342a;
  top: 38.5%;
  left: 72.68%;
}

.leftTrigger,
.leftShoulder,
.rightTrigger,
.rightShoulder {
  position: absolute;
  border: 1px solid #4c4e56;
  color: #4c4e56;

}

.leftTrigger, .rightTrigger {
  background: linear-gradient(to bottom, #989aa3 14%, #8a8d97 27%, #7d808b 56%, #7d808b 60%, #646771 71%, #34363b 100%) !important;
}

.leftShoulder, .rightShoulder {
  background: linear-gradient(to bottom, #646771 14%, #8a8d97 27%, #7d808b 46%, #7d808b 100%) !important;
}

.leftTrigger {
  width: 6.18%;
  height: 8.86%;
  left: 18%;
  border-radius: 25px 25px 0 0 !important;
}

.leftShoulder {
  width: 18.2%;
  height: 8.86%;
  left: 11.5%;
  top: 8.86%;
  border-radius: 120px 35px 25px 15px !important;
}

.rightTrigger {
  width: 6.18%;
  height: 8.86%;
  left: 71.82%;
  border-radius: 25px 25px 0 0 !important;
}

.rightShoulder {
  width: 18.2%;
  height: 8.86%;
  top: 8.86%;
  left: 65.4%;
  border-radius: 35px 120px 15px 25px !important;
}

.back,
.start {
  position: absolute;
  width: 5.3%;
  height: 4.64%;
  background: radial-gradient(ellipse at center, #ffffff 0%, #e0e0e0 100%);
  border: 1px solid #c0c2c7;
  border-radius: 15px;
  top: 30.92%;
}

.back {
  left: 34.63%;
}

.start {
  left: 55.12%;
}

.guide {
  background: radial-gradient(ellipse at center, #dbdcdf 0%, #bbbdc2 100%);
  border: 1px solid #aaadb4;
  position: absolute;
  width: 10.6%;
  height: 13.25%;
  border-radius: 60px !important;
  left: 42.4%;
  top: 26.72%;
}

.leftStickUp,
.leftStickDown,
.rightStickUp,
.rightStickDown {
  position: absolute;
  width: 6.18%;
  height: 7.73%;
  border: 1px solid #1c1d20;
}

.leftStickRight,
.leftStickLeft,
.rightStickRight,
.rightStickLeft {
  position: absolute;
  width: 6.18%;
  height: 7.73%;
  border: 1px solid #1c1d20;
}

.right,
.left,
.up,
.down {
  position: absolute;
  width: 5.3%;
  height: 6.63%;
  border: 0;
}

.rightStickUp {
  left: 58.1%;
  top: 44.65%;
  transform: rotate(-45deg);
  background: linear-gradient(to top right, #34363b 0%, #040405 80%);
  border-radius: 0 100% 0 0 !important;
}

.rightStickRight {
  left: 62.75%;
  top: 50.4%;
  background: linear-gradient(to bottom right, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 0 0 100% 0 !important;
}

.rightStickDown {
  left: 58.1%;
  top: 56.2%;
  background: linear-gradient(to bottom left, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 0 0 0 100% !important;
}

.rightStickLeft {
  left: 53.4%;
  top: 50.4%;
  background: linear-gradient(to top left, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 100% 0 0 0 !important;
}

.up {
  left: 30.21%;
  top: 43.69%;
  background: linear-gradient(to top, #272827 0%, #0e0e0e 80%);
  border-radius: 5px 5px 0 0 !important;
}

.right {
  left: 35.5%;
  top: 50.35%;
  background: linear-gradient(to right, #272827 0%, #0e0e0e 80%);
  border-radius: 0 5px 5px 0 !important;
}

.down {
  left: 30.21%;
  top: 56.96%;
  background: linear-gradient(to bottom, #272827 0%, #0e0e0e 80%);
  border-radius: 0 0 5px 5px !important;
}

.left {
  left: 24.9%;
  top: 50.35%;
  background: linear-gradient(to left, #272827 0%, #0e0e0e 80%);
  border-radius: 5px 0 0 5px !important;
}

.leftStickUp {
  left: 15.85%;
  top: 22.85%;
  background: linear-gradient(to top right, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 0 100% 0 0 !important;
}

.leftStickRight {
  left: 20.49%;
  top: 28.65%;
  background: linear-gradient(to bottom right, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 0 0 100% 0 !important;
}

.leftStickDown {
  left: 15.85%;
  top: 34.5%;
  background: linear-gradient(to bottom left, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 0 0 0 100% !important;
}

.leftStickLeft {
  left: 11.13%;
  top: 28.65%;
  background: linear-gradient(to top left, #34363b 0%, #040405 80%);
  transform: rotate(-45deg);
  border-radius: 100% 0 0 0 !important;
}

.rightStick,
.leftStick {
  z-index: 2;
  position: absolute;
  height: 8%;
  width: 6.6%;
  border-radius: 100% !important;
  background: #28292d;
  border: 1px solid #4c4e56;
}

.leftStick {
  left: 15.8%;
  top: 28.5%;
}

.rightStick {
  left: 58%;
  top: 50.2%;
}

.pushme {
  animation: pushme 1.2s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pushme {
  0% {
    background: rgba(80, 134, 198, 0.3);
  }
  50% {
    background: rgba(80, 134, 198, 0.8);
  }
  100% {
    background: rgba(80, 134, 198, 0.3);
  }
}
.active {
  background: #BEF202 !important;
}
